<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Taplet HTML Report</title>
	<%- include("components/styles"); %>
</head>

<body>
	<main>
		<div class="assertions">
			<%- include("components/statistics") %>
			<% for (const assertion of assertions) { %>
				<%- include("components/assertion", assertion) %>
			<% } %>
		</div>
	</main>
	<footer>
		<p class="poweredby">Powered by <a class="poweredby__link" href="https://github.com/Richienb/taplet">taplet</a></p>
	</footer>
</body>

</html>
